body {
    background-color: #6cbfc8;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rmit {
    display: flex;
    justify-content: center;
    background-color: #d2e6ff;
    width: 350px;
    height: 180px;
    margin: 0;
    border-radius: 15px;
    padding-bottom: 20px;
}

.rmit img {
    position: relative;
    top: 30px;
    width: auto;
    height: 60px;
}

.profile_image img {
    position: relative;
    z-index: 3;
    top: -100px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid #d2e6ff;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -210px;
    z-index: 0;
    background-color: #3768a3;
    width: 350px;
    height: fit-content;
    padding-bottom: 30px;
    border-radius: 15px;
}

.info h1 {
    width: 250px;
    margin-top: 120px;
    color: #ffffff;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 0;
    text-align: center;
}

.info h2 {
    width: 250px;
    color: #011228;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
}

.info p {
    width: 250px;
    color: #d2e6ff;
    text-align: justify;
    margin: 10px;
}

.contact a {
    display: block;
    text-align: center;
    color: #3768a3;
    text-decoration: none;
    padding: 10px 20px;
    width: 200px;
    background-color: #d2e6ff;
    border-radius: 10px;
    margin: 10px;
}

.contact a:hover {
    color:#011228;
    background-color: #ffffff;
    cursor: pointer;
}